<div class="card mb-3">
  <h2 class="card-header h4">
    Thing #<%= thing.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Integer column</dt>
      <dd><%= thing.integer_column %></dd>

      <dt>String column</dt>
      <dd><%= thing.string_column %></dd>

      <dt>Decimal column</dt>
      <dd><%= thing.decimal_column %></dd>

      <dt>Datetime column</dt>
      <dd><%= thing.datetime_column %></dd>

      <dt>Time column</dt>
      <dd><%= thing.time_column %></dd>

      <dt>Date column</dt>
      <dd><%= thing.date_column %></dd>

      <dt>Text column</dt>
      <dd><%= thing.text_column %></dd>

      <dt>Boolean column</dt>
      <dd><%= thing.boolean_column %></dd>

      <dt>Enum column</dt>
      <dd><%= thing.enum_column %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back thing, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_thing_url(thing), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to thing, method: :delete, data: { confirm: "Do you really want to delete this thing?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(thing.updated_at) %> ago
  </div>
</div>
